// reset
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ContentsWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  color: #c2c2c2;
}