// pc版chrome, firefoxで動作
app-image::part(AppImageClip) {
  max-width: 464px;
  max-height: 232px;
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  overflow: hidden;
  background: #1d1d1d;
  color: #fff;
}

app-image::part(AppImageWrap) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-image::part(AppImage) {
  width: 100%;
}