.AppImageClip {
  max-width: 464px;
  max-height: 232px;
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  overflow: hidden;
  background: #1d1d1d;
  color: #fff;
}

.AppImageWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppImage {
  width: 100%;
}