body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.IndexWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AppImageWrap {
  width: 464px;
  height: 232px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  color: #fff;
}
