// reset
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-image {
  margin: 8px;
}

.IndexWrap {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background: #dbdbdb;
  overflow: hidden;
}

.IndexAppImageWrap {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}