// reset
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.IndexWrap {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  background: #dbdbdb;
}

.IndexAppImageWrap {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 88px;
}